In [1]:
import numpy as np
import pandas as pd
import os
import matplotlib as plt

# change working directory

In [2]:
os.chdir('E:/DATA_ANALYSIS_NANO_PLUS_DEGREE/Baseball project/Dataset/')

# list all available files inside the directory

In [3]:
onlyfiles = os.listdir('E:/DATA_ANALYSIS_NANO_PLUS_DEGREE/Baseball project/Dataset/')
onlyfiles

['AllstarFull.csv',
 'Appearances.csv',
 'AwardsManagers.csv',
 'AwardsPlayers.csv',
 'AwardsShareManagers.csv',
 'AwardsSharePlayers.csv',
 'Batting.csv',
 'BattingPost.csv',
 'CollegePlaying.csv',
 'Datasets contents.rtf',
 'Fielding.csv',
 'FieldingOF.csv',
 'FieldingPost.csv',
 'HallOfFame.csv',
 'HomeGames.csv',
 'Managers.csv',
 'ManagersHalf.csv',
 'Master.csv',
 'Parks.csv',
 'Pitching.csv',
 'PitchingPost.csv',
 'readme2014.txt',
 'Salaries.csv',
 'Schools.csv',
 'SeriesPost.csv',
 'Teams.csv',
 'TeamsFranchises.csv',
 'TeamsHalf.csv',
 '~$tasets contents.rtf']

## Reading interesting Datafiles

In [4]:
AllstarFull = pd.read_csv('AllstarFull.csv' , sep = ',')
AllstarFull.head()

    playerID  yearID  gameNum        gameID teamID lgID   GP  startingPos
0  gomezle01    1933        0  ALS193307060    NYA   AL  1.0          1.0
1  ferreri01    1933        0  ALS193307060    BOS   AL  1.0          2.0
2  gehrilo01    1933        0  ALS193307060    NYA   AL  1.0          3.0
3  gehrich01    1933        0  ALS193307060    DET   AL  1.0          4.0
4  dykesji01    1933        0  ALS193307060    CHA   AL  1.0          5.0

In [5]:
Appearances = pd.read_csv('Appearances.csv' , sep = ',')
Appearances.columns

Index([u'yearID', u'teamID', u'lgID', u'playerID', u'G_all', u'GS',
       u'G_batting', u'G_defense', u'G_p', u'G_c', u'G_1b', u'G_2b', u'G_3b',
       u'G_ss', u'G_lf', u'G_cf', u'G_rf', u'G_of', u'G_dh', u'G_ph', u'G_pr'],
      dtype='object')

In [6]:
AwardsManagers = pd.read_csv('AwardsManagers.csv' , sep=',')
AwardsManagers.head()

    playerID                    awardID  yearID lgID  tie  notes
0  larusto01  BBWAA Manager of the year    1983   AL  NaN    NaN
1  lasorto01  BBWAA Manager of the year    1983   NL  NaN    NaN
2  andersp01  BBWAA Manager of the year    1984   AL  NaN    NaN
3   freyji99  BBWAA Manager of the year    1984   NL  NaN    NaN
4    coxbo01  BBWAA Manager of the year    1985   AL  NaN    NaN

In [34]:
AwardsPlayers = pd.read_csv('AwardsPlayers.csv' , sep = ',')
AwardsPlayers.head(30)

     playerID                     awardID  yearID lgID  tie notes
0    bondto01       Pitching Triple Crown    1877   NL  NaN   NaN
1   hinespa01                Triple Crown    1878   NL  NaN   NaN
2   heckegu01       Pitching Triple Crown    1884   AA  NaN   NaN
3   radboch01       Pitching Triple Crown    1884   NL  NaN   NaN
4   oneilti01                Triple Crown    1887   AA  NaN   NaN
5   keefeti01       Pitching Triple Crown    1888   NL  NaN   NaN
6   clarkjo01       Pitching Triple Crown    1889   NL  NaN   NaN
7   rusieam01       Pitching Triple Crown    1894   NL  NaN   NaN
8   duffyhu01                Triple Crown    1894   NL  NaN   NaN
9   youngcy01       Pitching Triple Crown    1901   AL  NaN   NaN
10  lajoina01                Triple Crown    1901   AL  NaN   NaN
11  wadderu01       Pitching Triple Crown    1905   AL  NaN   NaN
12  mathech01       Pitching Triple Crown    1905   NL  NaN   NaN
13  chaseha01  Baseball Magazine All-Star    1908   AL  NaN    1B
14  lajoina01  Baseball Magazine All-Star    1908   AL  NaN    2B
15   lordha01  Baseball Magazine All-Star    1908   AL  NaN    3B
16  crigelo01  Baseball Magazine All-Star    1908   AL  NaN     C
17  sullibi03  Baseball Magazine All-Star    1908   AL  NaN     C
18  crawfsa01  Baseball Magazine All-Star    1908   AL  NaN    CF
19  stonege01  Baseball Magazine All-Star    1908   AL  NaN    LF
20  walshed01  Baseball Magazine All-Star    1908   AL  NaN    P1
21  youngcy01  Baseball Magazine All-Star    1908   AL  NaN    P2
22  wadderu01  Baseball Magazine All-Star    1908   AL  NaN    P3
23   jossad01  Baseball Magazine All-Star    1908   AL  NaN    P4
24  donovbi01  Baseball Magazine All-Star    1908   AL  NaN    P5
25   cobbty01  Baseball Magazine All-Star    1908   AL  NaN    RF
26  wallabo01  Baseball Magazine All-Star    1908   AL  NaN    SS
27  chaseha01  Baseball Magazine All-Star    1908   ML  NaN    1B
28  lajoina01  Baseball Magazine All-Star    1908   ML  NaN    2B
29  devliar01  Baseball Magazine All-Star    1908   ML  NaN    3B

In [40]:
AwardsShareManagers = pd.read_csv('AwardsShareManagers.csv' , sep = ',')
AwardsShareManagers.head()

           awardID  yearID lgID   playerID  pointsWon  pointsMax  votesFirst
0  Mgr of the year    1983   AL  altobjo01          7         28           7
1  Mgr of the year    1983   AL    coxbo01          4         28           4
2  Mgr of the year    1983   AL  larusto01         17         28          17
3  Mgr of the year    1983   NL  lasorto01         10         24          10
4  Mgr of the year    1983   NL  lillibo01          9         24           9

In [9]:
AwardsSharePlayers = pd.read_csv('AwardsSharePlayers.csv', sep = ',')
AwardsSharePlayers.head(20)

    awardID  yearID lgID   playerID  pointsWon  pointsMax  votesFirst
0  Cy Young    1956   ML   fordwh01        1.0         16         1.0
1  Cy Young    1956   ML  maglisa01        4.0         16         4.0
2  Cy Young    1956   ML  newcodo01       10.0         16        10.0
3  Cy Young    1956   ML  spahnwa01        1.0         16         1.0
4  Cy Young    1957   ML  donovdi01        1.0         16         1.0

In [10]:
Salaries = pd.read_csv('Salaries.csv' , sep = ',')
Salaries.head()

   yearID teamID lgID   playerID  salary
0    1985    ATL   NL  barkele01  870000
1    1985    ATL   NL  bedrost01  550000
2    1985    ATL   NL  benedbr01  545000
3    1985    ATL   NL   campri01  633333
4    1985    ATL   NL  ceronri01  625000

### chose specific columns which i was intrested in

In [11]:
Master = pd.read_csv('Master.csv' , sep = ',' , usecols=['playerID','birthYear','birthMonth','birthDay','birthCountry','deathDay','weight','height','bats','throws','debut','finalGame'])
Master.head()

,playerID,birthYear,birthMonth,birthDay,birthCountry,deathDay,weight,height,bats,throws,debut,finalGame
0,aardsda01,1981.0,12.0,27.0,USA,NaN,220.0,75.0,R,R,2004-04-06,2015-08-23
1,aaronha01,1934.0,2.0,5.0,USA,NaN,180.0,72.0,R,R,1954-04-13,1976-10-03
2,aaronto01,1939.0,8.0,5.0,USA,16.0,190.0,75.0,R,R,1962-04-10,1971-09-26
3,aasedo01,1954.0,9.0,8.0,USA,NaN,190.0,75.0,R,R,1977-07-26,1990-10-03
4,abadan01,1972.0,8.0,25.0,USA,NaN,184.0,73.0,L,L,2001-09-10,2006-04-13

In [12]:
BattingTable = pd.read_csv('Batting.csv' , sep = ',')
BattingTable.head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,addybo01,1871,1,RC1,NaN,25,118.0,30.0,32.0,6.0,...,13.0,8.0,1.0,4.0,0.0,NaN,NaN,NaN,NaN,NaN
2,allisar01,1871,1,CL1,NaN,29,137.0,28.0,40.0,4.0,...,19.0,3.0,1.0,2.0,5.0,NaN,NaN,NaN,NaN,NaN
3,allisdo01,1871,1,WS3,NaN,27,133.0,28.0,44.0,10.0,...,27.0,1.0,1.0,0.0,2.0,NaN,NaN,NaN,NaN,NaN
4,ansonca01,1871,1,RC1,NaN,25,120.0,29.0,39.0,11.0,...,16.0,6.0,2.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN

### after loading batting table and looking at both variables in batting table and pitching table have decided to only choose variables which are not common in both table for pitching , i have used the following command to get colnames which are not common : 
colnames_to_use = Pitching.columns.difference(BattingTable.columns)

In [59]:
Pitching = pd.read_csv('Pitching.csv', sep=',' , usecols=['playerID','BAOpp', 'BFP', 'BK', 'CG', 'ER', 'ERA', 'GF', 'GS', 'IPouts',
       'L', 'SHO', 'SV', 'W', 'WP'])
Pitching.head()

,playerID,W,L,GS,CG,SHO,SV,IPouts,ER,BAOpp,ERA,WP,BK,BFP,GF
0,bechtge01,1,2,3,2,0,0,78.0,23,NaN,7.96,NaN,0,NaN,NaN
1,brainas01,12,15,30,30,0,0,792.0,132,NaN,4.50,NaN,0,NaN,NaN
2,fergubo01,0,0,0,0,0,0,3.0,3,NaN,27.00,NaN,0,NaN,NaN
3,fishech01,4,16,24,22,1,0,639.0,103,NaN,4.35,NaN,0,NaN,NaN
4,fleetfr01,0,1,1,1,0,0,27.0,10,NaN,10.00,NaN,0,NaN,NaN

### Merged Pitching data and Batting data based on common column PlayerID and only kept records which have common

In [28]:
merged_Pitching_Batting = BattingTable.merge(Pitching , how = 'inner' , on = 'playerID')
merged_Pitching_Batting.head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,SHO,SV,IPouts,ER,BAOpp,ERA,WP,BK,BFP,GF
0,allisdo01,1871,1,WS3,NaN,27,133.0,28.0,44.0,10.0,...,0,0,15.0,1,0.44,1.8,0.0,0,26.0,1.0
1,allisdo01,1872,1,TRO,NaN,23,115.0,23.0,35.0,4.0,...,0,0,15.0,1,0.44,1.8,0.0,0,26.0,1.0
2,allisdo01,1872,2,BR1,NaN,18,79.0,18.0,27.0,2.0,...,0,0,15.0,1,0.44,1.8,0.0,0,26.0,1.0
3,allisdo01,1873,1,ELI,NaN,19,83.0,11.0,24.0,5.0,...,0,0,15.0,1,0.44,1.8,0.0,0,26.0,1.0
4,allisdo01,1873,2,NY2,NaN,11,48.0,6.0,10.0,0.0,...,0,0,15.0,1,0.44,1.8,0.0,0,26.0,1.0

In [43]:
print merged_Pitching_Batting.loc[merged_Pitching_Batting['playerID'] == 'bondto01']

      playerID  yearID  stint teamID lgID   G     AB     R     H    2B ...   \
1319  bondto01    1874      1    BR2  NaN  55  245.0  25.0  54.0  10.0 ...
1320  bondto01    1874      1    BR2  NaN  55  245.0  25.0  54.0  10.0 ...
1321  bondto01    1874      1    BR2  NaN  55  245.0  25.0  54.0  10.0 ...
1322  bondto01    1874      1    BR2  NaN  55  245.0  25.0  54.0  10.0 ...
1323  bondto01    1874      1    BR2  NaN  55  245.0  25.0  54.0  10.0 ...
1324  bondto01    1874      1    BR2  NaN  55  245.0  25.0  54.0  10.0 ...
1325  bondto01    1874      1    BR2  NaN  55  245.0  25.0  54.0  10.0 ...
1326  bondto01    1874      1    BR2  NaN  55  245.0  25.0  54.0  10.0 ...
1327  bondto01    1874      1    BR2  NaN  55  245.0  25.0  54.0  10.0 ...
1328  bondto01    1874      1    BR2  NaN  55  245.0  25.0  54.0  10.0 ...
1329  bondto01    1874      1    BR2  NaN  55  245.0  25.0  54.0  10.0 ...
1330  bondto01    1875      1    HR1  NaN  72  289.0  32.0  77.0  11.0 ...
1331  bondto01    1875      1    HR1  NaN  72  289.0  32.0  77.0  11.0 ...
1332  bondto01    1875      1    HR1  NaN  72  289.0  32.0  77.0  11.0 ...
1333  bondto01    1875      1    HR1  NaN  72  289.0  32.0  77.0  11.0 ...
1334  bondto01    1875      1    HR1  NaN  72  289.0  32.0  77.0  11.0 ...
1335  bondto01    1875      1    HR1  NaN  72  289.0  32.0  77.0  11.0 ...
1336  bondto01    1875      1    HR1  NaN  72  289.0  32.0  77.0  11.0 ...
1337  bondto01    1875      1    HR1  NaN  72  289.0  32.0  77.0  11.0 ...
1338  bondto01    1875      1    HR1  NaN  72  289.0  32.0  77.0  11.0 ...
1339  bondto01    1875      1    HR1  NaN  72  289.0  32.0  77.0  11.0 ...
1340  bondto01    1875      1    HR1  NaN  72  289.0  32.0  77.0  11.0 ...
1341  bondto01    1876      1    HAR   NL  45  182.0  18.0  50.0   8.0 ...
1342  bondto01    1876      1    HAR   NL  45  182.0  18.0  50.0   8.0 ...
1343  bondto01    1876      1    HAR   NL  45  182.0  18.0  50.0   8.0 ...
1344  bondto01    1876      1    HAR   NL  45  182.0  18.0  50.0   8.0 ...
1345  bondto01    1876      1    HAR   NL  45  182.0  18.0  50.0   8.0 ...
1346  bondto01    1876      1    HAR   NL  45  182.0  18.0  50.0   8.0 ...
1347  bondto01    1876      1    HAR   NL  45  182.0  18.0  50.0   8.0 ...
1348  bondto01    1876      1    HAR   NL  45  182.0  18.0  50.0   8.0 ...
...        ...     ...    ...    ...  ...  ..    ...   ...   ...   ... ...
1410  bondto01    1882      1    WOR   NL   8   30.0   1.0   4.0   0.0 ...
1411  bondto01    1882      1    WOR   NL   8   30.0   1.0   4.0   0.0 ...
1412  bondto01    1882      1    WOR   NL   8   30.0   1.0   4.0   0.0 ...
1413  bondto01    1882      1    WOR   NL   8   30.0   1.0   4.0   0.0 ...
1414  bondto01    1882      1    WOR   NL   8   30.0   1.0   4.0   0.0 ...
1415  bondto01    1882      1    WOR   NL   8   30.0   1.0   4.0   0.0 ...
1416  bondto01    1882      1    WOR   NL   8   30.0   1.0   4.0   0.0 ...
1417  bondto01    1882      1    WOR   NL   8   30.0   1.0   4.0   0.0 ...
1418  bondto01    1884      1    BSU   UA  37  162.0  21.0  48.0   8.0 ...
1419  bondto01    1884      1    BSU   UA  37  162.0  21.0  48.0   8.0 ...
1420  bondto01    1884      1    BSU   UA  37  162.0  21.0  48.0   8.0 ...
1421  bondto01    1884      1    BSU   UA  37  162.0  21.0  48.0   8.0 ...
1422  bondto01    1884      1    BSU   UA  37  162.0  21.0  48.0   8.0 ...
1423  bondto01    1884      1    BSU   UA  37  162.0  21.0  48.0   8.0 ...
1424  bondto01    1884      1    BSU   UA  37  162.0  21.0  48.0   8.0 ...
1425  bondto01    1884      1    BSU   UA  37  162.0  21.0  48.0   8.0 ...
1426  bondto01    1884      1    BSU   UA  37  162.0  21.0  48.0   8.0 ...
1427  bondto01    1884      1    BSU   UA  37  162.0  21.0  48.0   8.0 ...
1428  bondto01    1884      1    BSU   UA  37  162.0  21.0  48.0   8.0 ...
1429  bondto01    1884      2    IN2   AA   7   23.0   0.0   3.0   1.0 ...
1430  bondto01    1884      2    IN2   AA   7   23.0   0.0   3.0   1.0 ...
1431  bondto01    1884      2    IN2   AA   7   23.0   0.0   3.0   1.0 ...
1432  bondto01    1884      2    IN2   AA   7   23.0   0.0   3.0   1.0 ...
1433  bondto01    1884      2    IN2   AA   7   23.0   0.0   3.0   1.0 ...
1434  bondto01    1884      2    IN2   AA   7   23.0   0.0   3.0   1.0 ...
1435  bondto01    1884      2    IN2   AA   7   23.0   0.0   3.0   1.0 ...
1436  bondto01    1884      2    IN2   AA   7   23.0   0.0   3.0   1.0 ...
1437  bondto01    1884      2    IN2   AA   7   23.0   0.0   3.0   1.0 ...
1438  bondto01    1884      2    IN2   AA   7   23.0   0.0   3.0   1.0 ...
1439  bondto01    1884      2    IN2   AA   7   23.0   0.0   3.0   1.0 ...

      SHO  SV  IPouts   ER  BAOpp   ERA    WP  BK     BFP   GF
1319    1   0  1491.0  176    NaN  3.19   NaN   0     NaN  NaN
1320    6   0  1056.0   61    NaN  1.56   NaN   0     NaN  NaN
1321    6   0  1224.0   76   0.22  1.68   8.0   0  1623.0  0.0
1322    6   0  1563.0  122   0.24  2.11  18.0   0  2165.0  0.0
1323    9   0  1598.0  122   0.26  2.06  13.0   0  2159.0  1.0
1324   11   0  1666.0  121   0.25  1.96  13.0   0  2189.0  1.0
1325    3   0  1479.0  146   0.27  2.67  24.0   0  2082.0  6.0
1326    0   0    76.0   12   0.36  4.26   3.0   0   113.0  0.0
1327    0   0    37.0    6   0.21  4.38   1.0   0    62.0  0.0
1328    0   0   567.0   63    NaN  3.00   0.0   0     NaN  2.0
1329    0   0   129.0   27    NaN  5.65   0.0   0   206.0  0.0
1330    1   0  1491.0  176    NaN  3.19   NaN   0     NaN  NaN
1331    6   0  1056.0   61    NaN  1.56   NaN   0     NaN  NaN
1332    6   0  1224.0   76   0.22  1.68   8.0   0  1623.0  0.0
1333    6   0  1563.0  122   0.24  2.11  18.0   0  2165.0  0.0
1334    9   0  1598.0  122   0.26  2.06  13.0   0  2159.0  1.0
1335   11   0  1666.0  121   0.25  1.96  13.0   0  2189.0  1.0
1336    3   0  1479.0  146   0.27  2.67  24.0   0  2082.0  6.0
1337    0   0    76.0   12   0.36  4.26   3.0   0   113.0  0.0
1338    0   0    37.0    6   0.21  4.38   1.0   0    62.0  0.0
1339    0   0   567.0   63    NaN  3.00   0.0   0     NaN  2.0
1340    0   0   129.0   27    NaN  5.65   0.0   0   206.0  0.0
1341    1   0  1491.0  176    NaN  3.19   NaN   0     NaN  NaN
1342    6   0  1056.0   61    NaN  1.56   NaN   0     NaN  NaN
1343    6   0  1224.0   76   0.22  1.68   8.0   0  1623.0  0.0
1344    6   0  1563.0  122   0.24  2.11  18.0   0  2165.0  0.0
1345    9   0  1598.0  122   0.26  2.06  13.0   0  2159.0  1.0
1346   11   0  1666.0  121   0.25  1.96  13.0   0  2189.0  1.0
1347    3   0  1479.0  146   0.27  2.67  24.0   0  2082.0  6.0
1348    0   0    76.0   12   0.36  4.26   3.0   0   113.0  0.0
...   ...  ..     ...  ...    ...   ...   ...  ..     ...  ...
1410    6   0  1563.0  122   0.24  2.11  18.0   0  2165.0  0.0
1411    9   0  1598.0  122   0.26  2.06  13.0   0  2159.0  1.0
1412   11   0  1666.0  121   0.25  1.96  13.0   0  2189.0  1.0
1413    3   0  1479.0  146   0.27  2.67  24.0   0  2082.0  6.0
1414    0   0    76.0   12   0.36  4.26   3.0   0   113.0  0.0
1415    0   0    37.0    6   0.21  4.38   1.0   0    62.0  0.0
1416    0   0   567.0   63    NaN  3.00   0.0   0     NaN  2.0
1417    0   0   129.0   27    NaN  5.65   0.0   0   206.0  0.0
1418    1   0  1491.0  176    NaN  3.19   NaN   0     NaN  NaN
1419    6   0  1056.0   61    NaN  1.56   NaN   0     NaN  NaN
1420    6   0  1224.0   76   0.22  1.68   8.0   0  1623.0  0.0
1421    6   0  1563.0  122   0.24  2.11  18.0   0  2165.0  0.0
1422    9   0  1598.0  122   0.26  2.06  13.0   0  2159.0  1.0
1423   11   0  1666.0  121   0.25  1.96  13.0   0  2189.0  1.0
1424    3   0  1479.0  146   0.27  2.67  24.0   0  2082.0  6.0
1425    0   0    76.0   12   0.36  4.26   3.0   0   113.0  0.0
1426    0   0    37.0    6   0.21  4.38   1.0   0    62.0  0.0
1427    0   0   567.0   63    NaN  3.00   0.0   0     NaN  2.0
1428    0   0   129.0   27    NaN  5.65   0.0   0   206.0  0.0
1429    1   0  1491.0  176    NaN  3.19   NaN   0     NaN  NaN
1430    6   0  1056.0   61    NaN  1.56   NaN   0     NaN  NaN
1431    6   0  1224.0   76   0.22  1.68   8.0   0  1623.0  0.0
1432    6   0  1563.0  122   0.24  2.11  18.0   0  2165.0  0.0
1433    9   0  1598.0  122   0.26  2.06  13.0   0  2159.0  1.0
1434   11   0  1666.0  121   0.25  1.96  13.0   0  2189.0  1.0
1435    3   0  1479.0  146   0.27  2.67  24.0   0  2082.0  6.0
1436    0   0    76.0   12   0.36  4.26   3.0   0   113.0  0.0
1437    0   0    37.0    6   0.21  4.38   1.0   0    62.0  0.0
1438    0   0   567.0   63    NaN  3.00   0.0   0     NaN  2.0
1439    0   0   129.0   27    NaN  5.65   0.0   0   206.0  0.0

[121 rows x 36 columns]

### I was intrested to keep only players which had won at least one award so i merged with Awardsplayer based on PlayerID

In [29]:
merged_PB_award = merged_Pitching_Batting.merge(AwardsPlayers , how = 'inner' , on =  ['playerID' , 'yearID','lgID'])

In [30]:
merged_PB_award.head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,ER,BAOpp,ERA,WP,BK,BFP,GF,awardID,tie,notes
0,hinespa01,1878,1,PRO,NL,62,257.0,42.0,92.0,13.0,...,0,0.50,0.00,1.0,0,6.0,0.0,Triple Crown,NaN,NaN
1,bondto01,1877,1,BSN,NL,61,259.0,32.0,59.0,4.0,...,176,NaN,3.19,NaN,0,NaN,NaN,Pitching Triple Crown,NaN,NaN
2,bondto01,1877,1,BSN,NL,61,259.0,32.0,59.0,4.0,...,61,NaN,1.56,NaN,0,NaN,NaN,Pitching Triple Crown,NaN,NaN
3,bondto01,1877,1,BSN,NL,61,259.0,32.0,59.0,4.0,...,76,0.22,1.68,8.0,0,1623.0,0.0,Pitching Triple Crown,NaN,NaN
4,bondto01,1877,1,BSN,NL,61,259.0,32.0,59.0,4.0,...,122,0.24,2.11,18.0,0,2165.0,0.0,Pitching Triple Crown,NaN,NaN

### after loading Fielding table and looking at both variables in merged_PB_award and Fielding table have decided to only choose variables which are not common in both table , i have used the following command to get colnames which are not common : 
colnames_to_use = Fielding.columns.difference(merged_PB_award.columns)

In [17]:
Fielding = pd.read_csv('Fielding.csv' , sep = ',' , usecols=['playerID','A', 'DP', 'E', 'InnOuts', 'PB', 'PO', 'POS', 'ZR'])
Fielding.head()

    playerID POS  InnOuts    PO     A     E   DP  PB  ZR
0  abercda01  SS      NaN   1.0   3.0   2.0  0.0 NaN NaN
1   addybo01  2B      NaN  67.0  72.0  42.0  5.0 NaN NaN
2   addybo01  SS      NaN   8.0  14.0   7.0  0.0 NaN NaN
3  allisar01  2B      NaN   1.0   4.0   0.0  0.0 NaN NaN
4  allisar01  OF      NaN  51.0   3.0   7.0  1.0 NaN NaN

In [18]:
merged_PBA_Fielding = merged_PB_award.merge(Fielding, how = 'inner', on = 'playerID')
merged_PBA_Fielding.columns

Index([u'playerID', u'yearID', u'stint', u'teamID', u'lgID', u'G', u'AB', u'R',
       u'H', u'2B', u'3B', u'HR', u'RBI', u'SB', u'CS', u'BB', u'SO', u'IBB',
       u'HBP', u'SH', u'SF', u'GIDP', u'W', u'L', u'GS', u'CG', u'SHO', u'SV',
       u'IPouts', u'ER', u'BAOpp', u'ERA', u'WP', u'BK', u'BFP', u'GF',
       u'awardID', u'tie', u'notes', u'POS', u'InnOuts', u'PO', u'A', u'E',
       u'DP', u'PB', u'ZR'],
      dtype='object')

In [31]:
merged_PBA_appereance = merged_PB_award.merge(Appearances , how = 'inner' , on = ['playerID','yearID','teamID','lgID'])

In [32]:
merged_PBA_appereance.head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,G_2b,G_3b,G_ss,G_lf,G_cf,G_rf,G_of,G_dh,G_ph,G_pr
0,hinespa01,1878,1,PRO,NL,62,257.0,42.0,92.0,13.0,...,0,0,1,0,61,0,61,NaN,NaN,NaN
1,bondto01,1877,1,BSN,NL,61,259.0,32.0,59.0,4.0,...,0,0,0,0,0,3,3,NaN,NaN,NaN
2,bondto01,1877,1,BSN,NL,61,259.0,32.0,59.0,4.0,...,0,0,0,0,0,3,3,NaN,NaN,NaN
3,bondto01,1877,1,BSN,NL,61,259.0,32.0,59.0,4.0,...,0,0,0,0,0,3,3,NaN,NaN,NaN
4,bondto01,1877,1,BSN,NL,61,259.0,32.0,59.0,4.0,...,0,0,0,0,0,3,3,NaN,NaN,NaN

In [33]:
merged_PBA_appereance.to_csv('E:/DATA_ANALYSIS_NANO_PLUS_DEGREE/Baseball project/Dataset/test_baseball1.csv' , sep=',' , index=False)

## Compute pairwise correlation of columns, excluding NA/null values with .corr fumction of numpy , only considered variables(columns) belonging to pitching and batting data sets

In [68]:
Pitching.corr(method='pearson')

,W,L,GS,CG,SHO,SV,IPouts,ER,BAOpp,ERA,WP,BK,BFP,GF
W,1.000000,0.741651,0.872609,0.764619,0.695123,0.032943,0.934844,0.810646,0.014363,-0.220137,0.538508,0.213185,0.865797,0.002323
L,0.741651,1.000000,0.862979,0.695796,0.517730,0.028107,0.889601,0.902597,0.029040,-0.176408,0.572446,0.224167,0.832046,0.004408
GS,0.872609,0.862979,1.000000,0.716398,0.639402,-0.143493,0.937663,0.909187,0.021435,-0.168656,0.558375,0.253574,0.884510,-0.257660
CG,0.764619,0.695796,0.716398,1.000000,0.681530,-0.066932,0.806810,0.665872,0.070889,-0.139557,0.489600,0.046915,0.664146,-0.121700
SHO,0.695123,0.517730,0.639402,0.681530,1.000000,-0.057223,0.673782,0.493816,0.025831,-0.144922,0.328242,0.118602,0.629675,-0.117795
SV,0.032943,0.028107,-0.143493,-0.066932,-0.057223,1.000000,0.018720,-0.036753,-0.026662,-0.101594,0.028866,0.004664,0.025051,0.855356
IPouts,0.934844,0.889601,0.937663,0.806810,0.673782,0.018720,1.000000,0.920579,0.023892,-0.229422,0.607091,0.237469,0.926982,-0.003586
ER,0.810646,0.902597,0.909187,0.665872,0.493816,-0.036753,0.920579,1.000000,0.024626,-0.148678,0.587098,0.250487,0.862112,-0.050917
BAOpp,0.014363,0.029040,0.021435,0.070889,0.025831,-0.026662,0.023892,0.024626,1.000000,0.056832,0.026079,-0.024265,0.020256,-0.029387
ERA,-0.220137,-0.176408,-0.168656,-0.139557,-0.144922,-0.101594,-0.229422,-0.148678,0.056832,1.000000,-0.131305,-0.069701,-0.216868,-0.142582
WP,0.538508,0.572446,0.558375,0.489600,0.328242,0.028866,0.607091,0.587098,0.026079,-0.131305,1.000000,0.174803,0.568145,0.031278
BK,0.213185,0.224167,0.253574,0.046915,0.118602,0.004664,0.237469,0.250487,-0.024265,-0.069701,0.174803,1.000000,0.256263,0.007390
BFP,0.865797,0.832046,0.884510,0.664146,0.629675,0.025051,0.926982,0.862112,0.020256,-0.216868,0.568145,0.256263,1.000000,0.008575
GF,0.002323,0.004408,-0.257660,-0.121700,-0.117795,0.855356,-0.003586,-0.050917,-0.029387,-0.142582,0.031278,0.007390,0.008575,1.000000

#### we can see wining and losing the game are highly correlated with Ipouts (Outs Pitched (innings pitched x 3)),

In [65]:
BattingTable.iloc[:,6:].corr(method='pearson')

,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
AB,1.000000,0.950973,0.987312,0.929086,0.711915,0.689583,0.919150,0.602521,0.682560,0.866973,0.819089,0.637314,0.625348,0.500656,0.803583,0.868972
R,0.950973,1.000000,0.966463,0.917910,0.742934,0.723842,0.923072,0.657821,0.683213,0.889075,0.768581,0.645149,0.636861,0.448621,0.784240,0.810634
H,0.987312,0.966463,1.000000,0.945326,0.735753,0.698043,0.934702,0.610866,0.686499,0.863757,0.777413,0.650866,0.621093,0.482565,0.803769,0.861458
2B,0.929086,0.917910,0.945326,1.000000,0.652233,0.719772,0.915200,0.522245,0.613252,0.830856,0.775100,0.630030,0.598783,0.392423,0.786475,0.827089
3B,0.711915,0.742934,0.735753,0.652233,1.000000,0.341271,0.659402,0.613622,0.652677,0.589784,0.449108,0.402967,0.444970,0.525831,0.526516,0.547360
HR,0.689583,0.723842,0.698043,0.719772,0.341271,1.000000,0.833147,0.256216,0.366609,0.726364,0.790554,0.665754,0.481898,0.050490,0.697388,0.690161
RBI,0.919150,0.923072,0.934702,0.915200,0.659402,0.833147,1.000000,0.501424,0.555778,0.853383,0.789303,0.697137,0.601970,0.361164,0.829233,0.838809
SB,0.602521,0.657821,0.610866,0.522245,0.613622,0.256216,0.501424,1.000000,0.789324,0.534996,0.435791,0.288021,0.446851,0.429918,0.403140,0.377281
CS,0.682560,0.683213,0.686499,0.613252,0.652677,0.366609,0.555778,0.789324,1.000000,0.594440,0.514342,0.357535,0.418645,0.452689,0.485987,0.498399
BB,0.866973,0.889075,0.863757,0.830856,0.589784,0.726364,0.853383,0.534996,0.594440,1.000000,0.767768,0.712157,0.570218,0.370216,0.738509,0.751492
SO,0.819089,0.768581,0.777413,0.775100,0.449108,0.790554,0.789303,0.435791,0.514342,0.767768,1.000000,0.568483,0.583631,0.237861,0.702611,0.728592
IBB,0.637314,0.645149,0.650866,0.630030,0.402967,0.665754,0.697137,0.288021,0.357535,0.712157,0.568483,1.000000,0.402747,0.066494,0.569121,0.585722
HBP,0.625348,0.636861,0.621093,0.598783,0.444970,0.481898,0.601970,0.446851,0.418645,0.570218,0.583631,0.402747,1.000000,0.292538,0.521388,0.543965
SH,0.500656,0.448621,0.482565,0.392423,0.525831,0.050490,0.361164,0.429918,0.452689,0.370216,0.237861,0.066494,0.292538,1.000000,0.208952,0.296661
SF,0.803583,0.784240,0.803769,0.786475,0.526516,0.697388,0.829233,0.403140,0.485987,0.738509,0.702611,0.569121,0.521388,0.208952,1.000000,0.733470
GIDP,0.868972,0.810634,0.861458,0.827089,0.547360,0.690161,0.838809,0.377281,0.498399,0.751492,0.728592,0.585722,0.543965,0.296661,0.733470,1.000000

#### when player is in batting position we can see AB = at batting position is highly correlated with variables like(R = runs abd	H =hits ) which make sense due to being in batting position gives you the chance to hit and then do the run,

#### also we can see correlation gradually dropping for variables(2B= double hit and 3B = tripple hit respectively) as we can imagine having a double hit is more likely to happen when at batting position than a tripple hits.

#### looking at correlation between in batting position and losing or wining it shoes that the correlation is close to 0 so it is unlikly that being in a batting position will effect losing or wining based on retrospective data.

In [75]:
merged_PBAA_Salaries = merged_PBA_appereance.merge(Salaries , how = 'inner' , on = 'playerID')
merged_PBAA_Salaries.sort('salary' , ascending=False)

C:\Users\Ramin\Anaconda2\envs\DAND\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

,playerID,yearID_x,stint,teamID_x,lgID_x,G,AB,R,H,2B,...,G_cf,G_rf,G_of,G_dh,G_ph,G_pr,yearID_y,teamID_y,lgID_y,salary
137611,kershcl01,2014,1,LAN,NL,27,63.0,5.0,11.0,0.0,...,0,0,0,0.0,0.0,0.0,2015,LAN,NL,32571000
137471,kershcl01,2011,1,LAN,NL,33,71.0,10.0,16.0,0.0,...,0,0,0,0.0,0.0,0.0,2015,LAN,NL,32571000
137387,kershcl01,2011,1,LAN,NL,33,71.0,10.0,16.0,0.0,...,0,0,0,0.0,0.0,0.0,2015,LAN,NL,32571000
137394,kershcl01,2011,1,LAN,NL,33,71.0,10.0,16.0,0.0,...,0,0,0,0.0,0.0,0.0,2015,LAN,NL,32571000
137548,kershcl01,2013,1,LAN,NL,35,77.0,8.0,14.0,3.0,...,0,0,0,0.0,1.0,1.0,2015,LAN,NL,32571000
137492,kershcl01,2011,1,LAN,NL,33,71.0,10.0,16.0,0.0,...,0,0,0,0.0,0.0,0.0,2015,LAN,NL,32571000
137310,kershcl01,2011,1,LAN,NL,33,71.0,10.0,16.0,0.0,...,0,0,0,0.0,0.0,0.0,2015,LAN,NL,32571000
137660,kershcl01,2014,1,LAN,NL,27,63.0,5.0,11.0,0.0,...,0,0,0,0.0,0.0,0.0,2015,LAN,NL,32571000
137583,kershcl01,2014,1,LAN,NL,27,63.0,5.0,11.0,0.0,...,0,0,0,0.0,0.0,0.0,2015,LAN,NL,32571000
137401,kershcl01,2011,1,LAN,NL,33,71.0,10.0,16.0,0.0,...,0,0,0,0.0,0.0,0.0,2015,LAN,NL,32571000
137485,kershcl01,2011,1,LAN,NL,33,71.0,10.0,16.0,0.0,...,0,0,0,0.0,0.0,0.0,2015,LAN,NL,32571000
137331,kershcl01,2011,1,LAN,NL,33,71.0,10.0,16.0,0.0,...,0,0,0,0.0,0.0,0.0,2015,LAN,NL,32571000
137653,kershcl01,2014,1,LAN,NL,27,63.0,5.0,11.0,0.0,...,0,0,0,0.0,0.0,0.0,2015,LAN,NL,32571000
137555,kershcl01,2014,1,LAN,NL,27,63.0,5.0,11.0,0.0,...,0,0,0,0.0,0.0,0.0,2015,LAN,NL,32571000
137408,kershcl01,2011,1,LAN,NL,33,71.0,10.0,16.0,0.0,...,0,0,0,0.0,0.0,0.0,2015,LAN,NL,32571000
137478,kershcl01,2011,1,LAN,NL,33,71.0,10.0,16.0,0.0,...,0,0,0,0.0,0.0,0.0,2015,LAN,NL,32571000
137646,kershcl01,2014,1,LAN,NL,27,63.0,5.0,11.0,0.0,...,0,0,0,0.0,0.0,0.0,2015,LAN,NL,32571000
137590,kershcl01,2014,1,LAN,NL,27,63.0,5.0,11.0,0.0,...,0,0,0,0.0,0.0,0.0,2015,LAN,NL,32571000
137639,kershcl01,2014,1,LAN,NL,27,63.0,5.0,11.0,0.0,...,0,0,0,0.0,0.0,0.0,2015,LAN,NL,32571000
137499,kershcl01,2013,1,LAN,NL,35,77.0,8.0,14.0,3.0,...,0,0,0,0.0,1.0,1.0,2015,LAN,NL,32571000
137380,kershcl01,2011,1,LAN,NL,33,71.0,10.0,16.0,0.0,...,0,0,0,0.0,0.0,0.0,2015,LAN,NL,32571000
137506,kershcl01,2013,1,LAN,NL,35,77.0,8.0,14.0,3.0,...,0,0,0,0.0,1.0,1.0,2015,LAN,NL,32571000
137359,kershcl01,2011,1,LAN,NL,33,71.0,10.0,16.0,0.0,...,0,0,0,0.0,0.0,0.0,2015,LAN,NL,32571000
137562,kershcl01,2014,1,LAN,NL,27,63.0,5.0,11.0,0.0,...,0,0,0,0.0,0.0,0.0,2015,LAN,NL,32571000
137352,kershcl01,2011,1,LAN,NL,33,71.0,10.0,16.0,0.0,...,0,0,0,0.0,0.0,0.0,2015,LAN,NL,32571000
137296,kershcl01,2011,1,LAN,NL,33,71.0,10.0,16.0,0.0,...,0,0,0,0.0,0.0,0.0,2015,LAN,NL,32571000
137345,kershcl01,2011,1,LAN,NL,33,71.0,10.0,16.0,0.0,...,0,0,0,0.0,0.0,0.0,2015,LAN,NL,32571000
137289,kershcl01,2011,1,LAN,NL,33,71.0,10.0,16.0,0.0,...,0,0,0,0.0,0.0,0.0,2015,LAN,NL,32571000
137569,kershcl01,2014,1,LAN,NL,27,63.0,5.0,11.0,0.0,...,0,0,0,0.0,0.0,0.0,2015,LAN,NL,32571000
137520,kershcl01,2013,1,LAN,NL,35,77.0,8.0,14.0,3.0,...,0,0,0,0.0,1.0,1.0,2015,LAN,NL,32571000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
857,carltst01,1972,1,PHI,NL,41,117.0,6.0,23.0,3.0,...,0,0,0,NaN,NaN,NaN,1986,CHA,AL,60000
909,carltst01,1972,1,PHI,NL,41,117.0,6.0,23.0,3.0,...,0,0,0,NaN,NaN,NaN,1986,CHA,AL,60000
905,carltst01,1972,1,PHI,NL,41,117.0,6.0,23.0,3.0,...,0,0,0,NaN,NaN,NaN,1986,CHA,AL,60000
901,carltst01,1972,1,PHI,NL,41,117.0,6.0,23.0,3.0,...,0,0,0,NaN,NaN,NaN,1986,CHA,AL,60000
897,carltst01,1972,1,PHI,NL,41,117.0,6.0,23.0,3.0,...,0,0,0,NaN,NaN,NaN,1986,CHA,AL,60000
893,carltst01,1972,1,PHI,NL,41,117.0,6.0,23.0,3.0,...,0,0,0,NaN,NaN,NaN,1986,CHA,AL,60000
889,carltst01,1972,1,PHI,NL,41,117.0,6.0,23.0,3.0,...,0,0,0,NaN,NaN,NaN,1986,CHA,AL,60000
885,carltst01,1972,1,PHI,NL,41,117.0,6.0,23.0,3.0,...,0,0,0,NaN,NaN,NaN,1986,CHA,AL,60000
881,carltst01,1972,1,PHI,NL,41,117.0,6.0,23.0,3.0,...,0,0,0,NaN,NaN,NaN,1986,CHA,AL,60000
877,carltst01,1972,1,PHI,NL,41,117.0,6.0,23.0,3.0,...,0,0,0,NaN,NaN,NaN,1986,CHA,AL,60000
873,carltst01,1972,1,PHI,NL,41,117.0,6.0,23.0,3.0,...,0,0,0,NaN,NaN,NaN,1986,CHA,AL,60000
869,carltst01,1972,1,PHI,NL,41,117.0,6.0,23.0,3.0,...,0,0,0,NaN,NaN,NaN,1986,CHA,AL,60000
865,carltst01,1972,1,PHI,NL,41,117.0,6.0,23.0,3.0,...,0,0,0,NaN,NaN,NaN,1986,CHA,AL,60000
861,carltst01,1972,1,PHI,NL,41,117.0,6.0,23.0,3.0,...,0,0,0,NaN,NaN,NaN,1986,CHA,AL,60000
853,carltst01,1972,1,PHI,NL,41,117.0,6.0,23.0,3.0,...,0,0,0,NaN,NaN,NaN,1986,CHA,AL,60000
801,carltst01,1972,1,PHI,NL,41,117.0,6.0,23.0,3.0,...,0,0,0,NaN,NaN,NaN,1986,CHA,AL,60000
849,carltst01,1972,1,PHI,NL,41,117.0,6.0,23.0,3.0,...,0,0,0,NaN,NaN,NaN,1986,CHA,AL,60000
845,carltst01,1972,1,PHI,NL,41,117.0,6.0,23.0,3.0,...,0,0,0,NaN,NaN,NaN,1986,CHA,AL,60000
841,carltst01,1972,1,PHI,NL,41,117.0,6.0,23.0,3.0,...,0,0,0,NaN,NaN,NaN,1986,CHA,AL,60000
837,carltst01,1972,1,PHI,NL,41,117.0,6.0,23.0,3.0,...,0,0,0,NaN,NaN,NaN,1986,CHA,AL,60000
833,carltst01,1972,1,PHI,NL,41,117.0,6.0,23.0,3.0,...,0,0,0,NaN,NaN,NaN,1986,CHA,AL,60000
829,carltst01,1972,1,PHI,NL,41,117.0,6.0,23.0,3.0,...,0,0,0,NaN,NaN,NaN,1986,CHA,AL,60000
825,carltst01,1972,1,PHI,NL,41,117.0,6.0,23.0,3.0,...,0,0,0,NaN,NaN,NaN,1986,CHA,AL,60000
821,carltst01,1972,1,PHI,NL,41,117.0,6.0,23.0,3.0,...,0,0,0,NaN,NaN,NaN,1986,CHA,AL,60000
817,carltst01,1972,1,PHI,NL,41,117.0,6.0,23.0,3.0,...,0,0,0,NaN,NaN,NaN,1986,CHA,AL,60000
813,carltst01,1972,1,PHI,NL,41,117.0,6.0,23.0,3.0,...,0,0,0,NaN,NaN,NaN,1986,CHA,AL,60000
2185,carltst01,1982,1,PHI,NL,38,101.0,8.0,22.0,4.0,...,0,0,0,0.0,0.0,0.0,1986,CHA,AL,60000
809,carltst01,1972,1,PHI,NL,41,117.0,6.0,23.0,3.0,...,0,0,0,NaN,NaN,NaN,1986,CHA,AL,60000
805,carltst01,1972,1,PHI,NL,41,117.0,6.0,23.0,3.0,...,0,0,0,NaN,NaN,NaN,1986,CHA,AL,60000
1237,carltst01,1977,1,PHI,NL,36,97.0,7.0,26.0,4.0,...,0,0,0,0.0,0.0,0.0,1986,CHA,AL,60000